.venv/
.binder/
renv/
replication/
.Rprofile
.Renviron
figures/
!figures/.gitignore
data/
!data/figure_3_6_efficiency.fst
!data/figure2.csv
!data/figure4.fst
!data/figure5.csv
!data/.gitignore
Dockerfile
.dockerignore
**/.DS_Store
