.Rprofile
!data/figure5.csv
.dockerignore
.Renviron
!data/figure_3_6_efficiency.fst
!data/figure4.fst
data/
figures/*
pyproject.toml
Dockerfile
**/.DS_Store
uv.lock
.binder/
.env
!data/figure2.csv
renv/
!figures/.gitignore
replication/
.venv/
!data/.gitignore
